# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/
.vite/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Testing / coverage
coverage/

# Prisma
prisma/*.db
prisma/*.db-journal

# Temporary files
*.tmp